/* Task 1: Style the body */
body {
    /* insert code here */
    font-family:'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* Task 2: Create a pseudo-element for the background and blur */
body::before {
    /* insert code here */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url('./background-colors.jpg');
    filter: blur(8px);
}

/* Task 3: Style the content area */
.content {
    /* insert code here */
    position: relative;
    z-index: 100;
    text-align: center;
    max-width: 100%;
    padding: 1rem;
}

/* Task 4: Add styles for headings, paragraphs, and buttons */
h1, h2, .lead, .btn-primary {
    /* insert code here */
    max-width: 100%;

}
