/* Style for image placeholder */
.image-placeholder-large {
    /* Task 1 styling */
    /* Insert code under this */
    width: 100%;
    height: 400px;
    position: relative;
   
}

/* Style for product image */
.product-image-large {
    /* Task 2 styling */
    /* Insert code under this */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style for 'no image available' placeholder */
.no-image-available-large {
    /* Task 3 styling */
    /* Insert code under this */
}

/* Style for card header */
.card-header {
    /* Task 4 styling */
    /* Insert code under this */
}

/* Style for details title */
.details-title {
    /* Task 5 styling */
    /* Insert code under this */
   color: slateblue;
   font: bold;
}

/* Style for comments section */
.comments-section {
    /* Task 6 styling */
    /* Insert code under this */
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: slategrey;
}
